INTERNAL_API_URL=http://app:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_DASHBOARD_URL=http://localhost/merchant
NEXT_PUBLIC_WEBSOCKET_URL=http://localhost:3000

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=

NEXT_PUBLIC_TELEGRAM_CLIENT_ID=
NEXT_PUBLIC_TELEGRAM_REDIRECT_URI=
